#Continue{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#KaylaNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#FraniNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#LazyNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#RoosterNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#CrocodileNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}

#BluesNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}
#SkunkNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}
#shellNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}
#turkeyNext{
background-color:navy;
color: turquoise;
height:50px;
width:80px;
}
#winstonNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#alligatorNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#spencerNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#bipperNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#snowyNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#larkinNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#waspNext{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}
#restart{
background-color: navy;
color:turquoise;
height:50px;
width:80px;
}